@font-face {
  font-family: "iconfont"; /* Project id 3264411 */
  src: url('iconfont.woff2?t=1647934852670') format('woff2'),
       url('iconfont.woff?t=1647934852670') format('woff'),
       url('iconfont.ttf?t=1647934852670') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guaduandianhua:before {
  content: "\e605";
}

.icon-guaduandianhua-copy:before {
  content: "\ecb4";
}

.icon-icon_xiaolian-xian:before {
  content: "\e650";
}

.icon-huchu-copy:before {
  content: "\ecb3";
}

.icon-xiangshang1:before {
  content: "\e76d";
}

.icon-guaduan1:before {
  content: "\e61b";
}

.icon-quanbu-copy:before {
  content: "\e64f";
}

.icon-maikefeng1:before {
  content: "\e6ef";
}

.icon-qiehuanshexiangtou:before {
  content: "\e67d";
}

.icon-shexiangtou1:before {
  content: "\e76c";
}

.icon-baiban:before {
  content: "\e6a5";
}

.icon-guanbishexiangtou1:before {
  content: "\e640";
}

.icon-jinmai2:before {
  content: "\e6eb";
}

.icon-pingmugongxiang2:before {
  content: "\e6ff";
}

.icon-maikefeng5-copy:before {
  content: "\ecb1";
}

.icon-jinmai-1-copy-copy:before {
  content: "\e6a7";
}

