<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>古驰亮色夹克</string>
		<key>money</key>
		<string>¥8000</string>
		<key>novemberSales</key>
		<string>月销量: 3399</string>
		<key>originalPrice</key>
		<string>¥12000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>缪缪女士高跟鞋</string>
		<key>money</key>
		<string>¥5400</string>
		<key>novemberSales</key>
		<string>月销量: 435</string>
		<key>originalPrice</key>
		<string>¥6000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>铂金女士手提袋</string>
		<key>money</key>
		<string>¥15800</string>
		<key>novemberSales</key>
		<string>月销量: 20</string>
		<key>originalPrice</key>
		<string>¥160000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>卡地亚的一块手表</string>
		<key>money</key>
		<string>¥160000</string>
		<key>novemberSales</key>
		<string>月销量: 10</string>
		<key>originalPrice</key>
		<string>¥165000</string>
	</dict>
</array>
</plist>
