<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>招商中证白酒B</string>
		<key>number</key>
		<string>150270</string>
		<key>netValue</key>
		<string>1.5480</string>
		<key>rise</key>
		<string>+4.17%</string>
	</dict>
	<dict>
		<key>name</key>
		<string>基金久嘉</string>
		<key>number</key>
		<string>184722</string>
		<key>netValue</key>
		<string>0.9806</string>
		<key>rise</key>
		<string>+4.00%</string>
	</dict>
	<dict>
		<key>name</key>
		<string>国泰国证食品饮料B</string>
		<key>number</key>
		<string>150199</string>
		<key>netValue</key>
		<string>1.0109</string>
		<key>rise</key>
		<string>+2.83%</string>
	</dict>
	<dict>
		<key>name</key>
		<string>嘉实前沿科技</string>
		<key>number</key>
		<string>004450</string>
		<key>netValue</key>
		<string>1.0236</string>
		<key>rise</key>
		<string>+2.82%</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鹏华中证酒B</string>
		<key>number</key>
		<string>150230</string>
		<key>netValue</key>
		<string>1.1020</string>
		<key>rise</key>
		<string>+2.80%</string>
	</dict>
	<dict>
		<key>name</key>
		<string>招商中证白酒</string>
		<key>number</key>
		<string>161725</string>
		<key>netValue</key>
		<string>1.2850</string>
		<key>rise</key>
		<string>+2.47%</string>
	</dict>
	<dict>
		<key>name</key>
		<string>招商中证酒</string>
		<key>number</key>
		<string>001768</string>
		<key>netValue</key>
		<string>0.1617</string>
		<key>rise</key>
		<string>+2.05%</string>
	</dict>
	<dict>
		<key>name</key>
		<string>华宝兴业中国互联</string>
		<key>number</key>
		<string>001767</string>
		<key>netValue</key>
		<string>1.0990</string>
		<key>rise</key>
		<string>+1.95%</string>
	</dict>
</array>
</plist>
