@font-face {
  font-family: "iconfont"; /* Project id 3264411 */
  src: url('iconfont.woff2?t=1652688436643') format('woff2'),
       url('iconfont.woff?t=1652688436643') format('woff'),
       url('iconfont.ttf?t=1652688436643') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconset0442:before {
  content: "\e741";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-a-videocall1x:before {
  content: "\e600";
}

.icon-a-videocall1x-copy:before {
  content: "\ecb6";
}

.icon-zoom:before {
  content: "\e685";
}

.icon-2zuixiaohua-2:before {
  content: "\e65a";
}

.icon-dianhuatianchong:before {
  content: "\e678";
}

.icon-iconfanhuishangyiji:before {
  content: "\e606";
}

.icon-fangda:before {
  content: "\e622";
}

.icon-suoxiao:before {
  content: "\e628";
}

.icon-wenjianshangchuan:before {
  content: "\e742";
}

.icon-fanhui:before {
  content: "\e610";
}

.icon-shipin:before {
  content: "\e637";
}

.icon-yinpin:before {
  content: "\e68b";
}

.icon-wendangzhongxin:before {
  content: "\e61a";
}

.icon-wenjianshangchuan1:before {
  content: "\e60d";
}

.icon-tupian:before {
  content: "\e860";
}

.icon-logout:before {
  content: "\e64b";
}

.icon-shangchuanyunpan:before {
  content: "\e6b3";
}

.icon-suofang:before {
  content: "\e60c";
}

.icon-shipintonghua-liaotian:before {
  content: "\e651";
}

.icon-feihuazhonghua:before {
  content: "\e7c6";
}

.icon-huazhonghua1:before {
  content: "\e61c";
}

.icon-guaduandianhua:before {
  content: "\e605";
}

.icon-guaduandianhua-copy:before {
  content: "\ecb4";
}

.icon-icon_xiaolian-xian:before {
  content: "\e650";
}

.icon-huchu-copy:before {
  content: "\ecb3";
}

.icon-xiangshang1:before {
  content: "\e76d";
}

.icon-quanbu-copy:before {
  content: "\e64f";
}

.icon-maikefeng1:before {
  content: "\e6ef";
}

.icon-qiehuanshexiangtou:before {
  content: "\e67d";
}

.icon-shexiangtou1:before {
  content: "\e76c";
}

.icon-baiban:before {
  content: "\e6a5";
}

.icon-guanbishexiangtou1:before {
  content: "\e640";
}

.icon-jinmai2:before {
  content: "\e6eb";
}

.icon-pingmugongxiang2:before {
  content: "\e6ff";
}

.icon-maikefeng5-copy:before {
  content: "\ecb1";
}

.icon-jinmai-1-copy-copy:before {
  content: "\e6a7";
}

.icon-jinmai2-copy:before {
  content: "\ecb5";
}

